@page "/documentstatuses/details"
@using Microsoft.EntityFrameworkCore
@using DocCheck.Models
@inject IDbContextFactory<DocCheck.Data.ApplicationDbContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Details</PageTitle>

<h1>Details</h1>

<div>
    <h2>DocumentStatus</h2>
    <hr />
    @if (documentstatus is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">Name</dt>
            <dd class="col-sm-10">@documentstatus.Name</dd>
            <dt class="col-sm-2">Description</dt>
            <dd class="col-sm-10">@documentstatus.Description</dd>
            <dt class="col-sm-2">IsActive</dt>
            <dd class="col-sm-10">@documentstatus.IsActive</dd>
        </dl>
        <div>
            <a href="@($"/documentstatuses/edit?id={documentstatus.Id}")">Edit</a> |
            <a href="@($"/documentstatuses")">Back to List</a>
        </div>
    }
</div>

@code {
    private DocumentStatus? documentstatus;

    [SupplyParameterFromQuery]
    private Guid Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        documentstatus = await context.DocumentStatuses.FirstOrDefaultAsync(m => m.Id == Id);

        if (documentstatus is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
