@page "/documentchecks/create"

@using DocCheck.Services
@using Microsoft.EntityFrameworkCore
@using DocCheck.Models
@using Models.OData

@inject DocCheckRepository Repository
@inject IDocCheckService Service
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider AuthStateProvider

<PageTitle>Создать Проблемный Документ</PageTitle>

<h3>Создать Проблемный Документ</h3>
<hr />

<EditForm method="post" Model="DocumentCheck" OnValidSubmit="AddDocumentCheck" FormName="create" Enhance>
    <DataAnnotationsValidator />
    <ValidationSummary class="text-danger" role="alert" />
    <div class="row">
        <div class="col">
            <div class="input-group">
                <label for="status" class="input-group-text">Статус:</label>
                <InputSelect id="status" class="form-control" @bind-Value="DocumentCheck.Status">
                    <option value="">Выберите статус...</option>
                    @foreach (var item in Enum.GetValues<Status>())
                    {
                        <option value="@item">@(item.GetDescription())</option>
                    }
                </InputSelect>
                <ValidationMessage For="() => DocumentCheck.Status" class="text-danger" />
            </div>
        </div>
        <div class="col">
            <div class="input-group">
                <label for="handler" class="input-group-text">Позиция:</label>
                <InputSelect id="handler" @bind-Value="DocumentCheck.Position" class="form-control">
                    <option value="">Выберите позицию...</option>
                    @foreach (var item in Enum.GetValues<Position>())
                    {
                        <option value="@item">@(item.GetDescription())</option>
                    }
                </InputSelect>
                <ValidationMessage For="() => DocumentCheck.Position" class="text-danger" />
            </div>
        </div>
        <div class="col">
            <div class="input-group">
                <label for="userid" class="input-group-text">UserId:</label>
                <InputText id="userid" @bind-Value="DocumentCheck.UserId" class="form-control" disabled="true" />
                <ValidationMessage For="() => DocumentCheck.UserId" class="text-danger" />
            </div>
        </div>
        <div class="col">
            <div class="row">
                <div class="col">
                    <div class="text-center"><button type="submit" class="btn btn-primary">Создать</button></div>
                </div>
                <div class="col">
                    <div class="mt-2"><a href="/documentchecks">Назад к списку</a></div>
                </div>
            </div>
        </div>
    </div>
    @if (isLoading)
    {
        <div class="spinner-grow mt-3" role="status">
            <span class="visually-hidden">Загрузка...</span>
        </div>
    }
    else
    {
        if (DocumentCheck.InvoiceNumber is null)
        {
            <div class="alert alert-warning mt-2">Счет-фактура не найдена</div>
        }
        else
        {
            <div class="card mt-3">
                <div class="card-header">
                    <div class="row">
                        <div class="col">
                            <div class="text-center mt-2">@Document_СчетФактураВыданный.Name</div>
                        </div>
                        <div class="col">
                            <div class="input-group">
                                <label for="documentnumber" class="input-group-text">№</label>
                                <InputText id="documentnumber" @bind-Value="DocumentCheck.InvoiceNumber" class="form-control" disabled="true" />
                                <ValidationMessage For="() => DocumentCheck.InvoiceNumber" class="text-danger" />
                            </div>
                        </div>
                        <div class="col">
                            <div class="input-group">
                                <label for="documentdate" class="input-group-text">Дата</label>
                                <InputDate id="documentdate" @bind-Value="DocumentCheck.InvoiceDate" class="form-control" disabled="true" />
                                <ValidationMessage For="() => DocumentCheck.InvoiceDate" class="text-danger" />
                            </div>
                        </div>
                        @* <div class="col">
                    <div class="input-group">
                        <label for="documentrefkey" class="input-group-text">RefKey</label>
                        <InputText id="documentrefkey" @bind-Value="DocumentCheck.InvoiceRefKey" class="form-control" disabled="true" />
                        <ValidationMessage For="() => DocumentCheck.InvoiceRefKey" class="text-danger" />
                    </div>
                </div> *@
                    </div>
                </div>
                <div class="card-body">
                    @if (DocumentCheck.SaleDocuments is null || DocumentCheck.SaleDocuments.Count == 0)
                    {
                        <div class="alert alert-warning mt-2">Документы основания не найдены</div>
                    }
                    else
                    {
                        foreach (var saleDoc in DocumentCheck.SaleDocuments)
                        {
                            <div class="card">
                                <div class="card-body">
                                    <div class="h5 card-title">
                                        <div class="row">
                                            <div class="col"><div class="text-center">@Document_РеализацияТоваровУслуг.Name</div></div>
                                            <div class="col"><span>№ </span><span> @saleDoc.Number</span></div>
                                            <div class="col"><span>от </span><span> @saleDoc.Date</span></div>
                                        </div>
                                        <hr />
                                        <div class="row">
                                            <div class="col"><div class="text-center"><small>Контрагент: </small><span> @saleDoc.Контрагент?.Description</span></div></div>
                                            <div class="col"><small>Менеджер: </small><span> @saleDoc.Менеджер?.Description</span></div>
                                            <div class="col"><small>Автор: </small><span> @saleDoc.Автор?.Description</span></div>
                                        </div>
                                        <hr />
                                    </div>

                                    @if (saleDoc.Товары is null || saleDoc.Товары.Length == 0)
                                    {
                                        <div class="alert alert-warning mt-2">Товары не найдены или табличная часть пуста</div>
                                    }
                                    else
                                    {
                                        <table class="table table-hover table-striped">
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>Номенклатура</th>
                                                    <th>Количество</th>
                                                    <th>Факт Кол-во</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var item in saleDoc.Товары)
                                                {
                                                    <tr>
                                                        <td>@item.LineNumber</td>
                                                        <td>@item.Номенклатура?.Description</td>
                                                        <td>@item.Количество</td>
                                                        <td>
                                                            <input type="number" />
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    }
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        }
    }
</EditForm>

@code {
    [SupplyParameterFromQuery]
    public string? RefKey { get; set; }

    [SupplyParameterFromForm]
    private DocumentCheck DocumentCheck { get; set; } = new();

    AuthenticationState? authState;

    private string? pageMessage;
    private bool isLoading;

    protected override async Task OnInitializedAsync()
    {
        DocumentCheck.InvoiceRefKey = RefKey;

        isLoading = true;
        await Task.Delay(1000);
        await Service.LoadBaseDocuments(DocumentCheck);
        isLoading = false;

        authState = await AuthStateProvider.GetAuthenticationStateAsync();
        DocumentCheck.UserId = authState?.User?.Identity?.Name;
    }

    private async Task AddDocumentCheck()
    {
        await Repository.CreateAsync(DocumentCheck);

        NavigationManager.NavigateTo("/documentchecks");
    }
}
