@page "/documentchecks/createorupdate"

@using DocCheck.Services
@using Microsoft.AspNetCore.Authorization
@using Microsoft.EntityFrameworkCore
@using DocCheck.Models
@using Models.OData

@inject DocCheckRepository Repository
@inject IDocCheckService Service
@inject NavigationManager NavigationManager
@inject AuthService AuthService

@attribute [Authorize]

<PageTitle>Проблемный Документ</PageTitle>

<h2>
    @if (operation == Operations.Create)
    {
        <span>Создать</span>
    }
    @if (operation == Operations.Update)
    {
        <span>Изменить</span>
    }
    <span> Проблемный Документ</span>
</h2>
<hr />

@if (!string.IsNullOrEmpty(pageMessage))
{
    <div class="alert alert-warning mt-2">
        @pageMessage
    </div>
}
else
{
    <EditForm method="post" Model="DocCheck" OnValidSubmit="DocCheckHandle" FormName="create" Enhance>
        <DataAnnotationsValidator />
        <ValidationSummary class="text-danger" role="alert" />
        <div class="row">
            <div class="col">
                <div class="input-group">
                    <label for="status" class="input-group-text">Статус</label>
                    <InputSelect id="status" class="form-control" @bind-Value="DocCheck.Status">
                        <option value="">Выберите статус...</option>
                        @foreach (var item in Enum.GetValues<Status>())
                        {
                            <option value="@item">@(item.GetDescription())</option>
                        }
                    </InputSelect>
                    <ValidationMessage For="() => DocCheck.Status" class="text-danger" />
                </div>
            </div>
            <div class="col">
                <div class="input-group">
                    <label for="handler" class="input-group-text">Позиция</label>
                    <InputSelect id="handler" @bind-Value="DocCheck.Position" class="form-control">
                        <option value="">Выберите позицию...</option>
                        @foreach (var item in Enum.GetValues<Position>())
                        {
                            <option value="@item">@(item.GetDescription())</option>
                        }
                    </InputSelect>
                    <ValidationMessage For="() => DocCheck.Position" class="text-danger" />
                </div>
            </div>
            <div class="col">
                <div class="input-group">
                    <label for="userid" class="input-group-text">Пользователь</label>
                    <input type="text" class="form-control" id="userid" value="@DocCheck.User?.Name" disabled />
                </div>
            </div>
            <div class="col">
                <div class="row">
                    <div class="col">
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary">
                                @if (operation == Operations.Create)
                                {
                                    <div>Создать</div>
                                }
                                @if (operation == Operations.Update)
                                {
                                    <div>Сохранить</div>
                                }
                            </button>
                        </div>
                    </div>
                    <div class="col">
                        <div class="mt-2"><a href="/documentchecks">Назад к списку</a></div>
                    </div>
                </div>
            </div>
        </div>
        @if (isInitializing)
        {
            <div class="spinner-grow mt-3" role="status">
                <span class="visually-hidden">Загрузка...</span>
            </div>
        }
        else
        {
            <div class="card mt-3">
                <div class="card-header">
                    <div class="row">
                        <div class="col"><div class="text-center">@Document_СчетФактураВыданный.Name</div></div>
                        <div class="col"><span>№ </span><span> @DocCheck.InvoiceNumber</span></div>
                        <div class="col"><span>от </span><span> @DocCheck.InvoiceDate</span></div>
                    </div>                    
                </div>
                <div class="card-body">
                    @if (DocCheck.SaleDocuments is null || DocCheck.SaleDocuments.Count == 0)
                    {
                        <div class="alert alert-warning mt-2">Документы основания не найдены</div>
                    }
                    else
                    {
                        foreach (var saleDoc in DocCheck.SaleDocuments)
                        {
                            <SaleDocCard SaleDoc="saleDoc" Errors="DocCheck.Errors" DocCheckId="DocCheck.Id" />
                        }
                    }
                </div>
            </div>
        }
    </EditForm>
}

@code {
    [SupplyParameterFromQuery]
    public string? RefKey { get; set; }

    [SupplyParameterFromForm]
    private DocumentCheck DocCheck { get; set; } = new();

    private string? pageMessage;
    private bool isInitializing;
    private Operations operation = Operations.Create;

    protected override async Task OnInitializedAsync()
    {
        isInitializing = true;        

        await DocCheckInitialize(RefKey);

        isInitializing = false;
    }

    private async Task DocCheckInitialize(string? refKey)
    {
        if (refKey is null)
        {
            pageMessage = "Что-то пошло не так...(RefKey is null)";
            return;
        }

        DocCheck.InvoiceRefKey = refKey;
        DocCheck.Errors = new();

        if (await Repository.ExistsAsync(DocCheck.InvoiceRefKey))
        {
            operation = Operations.Update;

            var documentCheck = await Service.GetItemAsync(DocCheck.InvoiceRefKey, isIncludeErrors: true);

            if (documentCheck is null)
            {
                pageMessage = "Что-то пошло не так...(DocumentCheck is null)";
                return;
            }

            DocCheck = documentCheck;
        }

        await Service.LoadBaseDocuments(DocCheck);
    }

    private async Task DocCheckHandle()
    {
        if (DocCheck == null)
            return;

        DocCheck.UserId = await AuthService.GetCurrentUserIdAsync();

        if (operation == Operations.Create)
        {
            DocCheck.Status = DocCheck.Errors?.Count == 0 ? Status.Draft : Status.InProcess;

            await Repository.CreateAsync(DocCheck);
        }

        if (operation == Operations.Update)
        {
            await Repository.UpdateAsync(DocCheck);
        }

        NavigationManager.NavigateTo("/documentchecks");
    }

    private enum Operations
    {
        Create, Update
    }
}
