@page "/documentchecks/delete"
@using Microsoft.EntityFrameworkCore
@using DocCheck.Models
@inject IDbContextFactory<DocCheck.Data.ApplicationDbContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Удалить</PageTitle>

<h2>Удалить</h2>

<p>Вы уверены, что хотите удалить?</p>

<h3>Сведения о проблемном документе</h3>
<hr />
@if (documentcheck is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <dl class="row">
        <dt class="col-sm-2">CreatedAt</dt>
        <dd class="col-sm-10">@documentcheck.CreatedAt</dd>
    </dl>
    <dl class="row">
        <dt class="col-sm-2">UpdatedAt</dt>
        <dd class="col-sm-10">@documentcheck.UpdatedAt</dd>
    </dl>
    <dl class="row">
        <dt class="col-sm-2">Status</dt>
        <dd class="col-sm-10">@documentcheck.Status</dd>
    </dl>
    <dl class="row">
        <dt class="col-sm-2">Handler</dt>
        <dd class="col-sm-10">@documentcheck.Position</dd>
    </dl>
    <dl class="row">
        <dt class="col-sm-2">UserId</dt>
        <dd class="col-sm-10">@documentcheck.UserId</dd>
    </dl>
    <dl class="row">
        <dt class="col-sm-2">DocumentRefKey</dt>
        <dd class="col-sm-10">@documentcheck.InvoiceRefKey</dd>
    </dl>
    <EditForm method="post" Model="documentcheck" OnValidSubmit="DeleteDocumentCheck" FormName="delete" Enhance>
        <button type="submit" class="btn btn-danger" disabled="@(documentcheck is null)">Удалить</button> |
        <a href="/documentchecks">Назад к списку</a>
    </EditForm>
}

@code {
    private DocumentCheck? documentcheck;

    [SupplyParameterFromQuery]
    private Guid Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        documentcheck = await context.DocumentCheck.FirstOrDefaultAsync(m => m.Id == Id);

        if (documentcheck is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    private async Task DeleteDocumentCheck()
    {
        using var context = DbFactory.CreateDbContext();
        context.DocumentCheck.Remove(documentcheck!);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/documentchecks");
    }
}
