@page "/documentchecks/delete"
@using Microsoft.EntityFrameworkCore
@using DocCheck.Models
@inject IDbContextFactory<DocCheck.Data.ApplicationDbContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Delete</PageTitle>

<h1>Delete</h1>

<p>Are you sure you want to delete this?</p>
<div>
    <h2>DocumentCheck</h2>
    <hr />
    @if (documentcheck is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">CreatedAt</dt>
            <dd class="col-sm-10">@documentcheck.CreatedAt</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">UpdatedAt</dt>
            <dd class="col-sm-10">@documentcheck.UpdatedAt</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">Status</dt>
            <dd class="col-sm-10">@documentcheck.Status</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">Handler</dt>
            <dd class="col-sm-10">@documentcheck.Position</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">UserId</dt>
            <dd class="col-sm-10">@documentcheck.UserId</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">DocumentRefKey</dt>
            <dd class="col-sm-10">@documentcheck.InvoiceRefKey</dd>
        </dl>
        <EditForm method="post" Model="documentcheck" OnValidSubmit="DeleteDocumentCheck" FormName="delete" Enhance>
            <button type="submit" class="btn btn-danger" disabled="@(documentcheck is null)">Delete</button> |
            <a href="/documentchecks">Back to List</a>
        </EditForm>
    }
</div>

@code {
    private DocumentCheck? documentcheck;

    [SupplyParameterFromQuery]
    private Guid Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        documentcheck = await context.DocumentCheck.FirstOrDefaultAsync(m => m.Id == Id);

        if (documentcheck is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    private async Task DeleteDocumentCheck()
    {
        using var context = DbFactory.CreateDbContext();
        context.DocumentCheck.Remove(documentcheck!);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/documentchecks");
    }
}
