@page "/documentchecks/delete"

@using DocCheck.Models
@using DocCheck.Services
@using Microsoft.AspNetCore.Authorization

@inject DocCheckRepository Repository
@inject IDocCheckService Service
@inject NavigationManager NavigationManager

@attribute [Authorize]

<PageTitle>Удалить</PageTitle>

<h2>Удалить</h2>

<p class="text-danger">Вы уверены, что хотите удалить?</p>

<h3>Сведения о проблемном документе</h3>
<hr />
@if (!string.IsNullOrEmpty(pageMessage))
{
    <div class="alert alert-warning mt-2">
        @pageMessage
    </div>
}
@if (documentcheck is null)
{
    <div class="spinner-grow mt-3" role="status">
        <span class="visually-hidden">Загрузка...</span>
    </div>
}
else
{
    <dl class="row">
        <dt class="col-sm-2">Счет-фактура №</dt>
        <dd class="col-sm-10">@documentcheck.InvoiceNumber</dd>
    </dl>
    <dl class="row">
        <dt class="col-sm-2">От</dt>
        <dd class="col-sm-10">@documentcheck.InvoiceDate</dd>
    </dl>
    <dl class="row">
        <dt class="col-sm-2">Статус</dt>
        <dd class="col-sm-10">@documentcheck.Status?.GetDescription()</dd>
    </dl>
    <dl class="row">
        <dt class="col-sm-2">Позиция</dt>
        <dd class="col-sm-10">@documentcheck.Position?.GetDescription()</dd>
    </dl>
    <dl class="row">
        <dt class="col-sm-2">Пользователь</dt>
        <dd class="col-sm-10">@documentcheck.User?.Name</dd>
    </dl>
    <EditForm method="post" Model="documentcheck" OnValidSubmit="DeleteDocumentCheck" FormName="delete" Enhance>
        <button type="submit" class="btn btn-danger" disabled="@(documentcheck is null)">Удалить</button> |
        <a href="/documentchecks">Назад к списку</a>
    </EditForm>
}

@code {
    [SupplyParameterFromQuery]
    public string? RefKey { get; set; }

    private DocumentCheck? documentcheck;
    private string? pageMessage;

    protected override async Task OnInitializedAsync()
    {
        if (RefKey is null)
        {
            pageMessage = "Что-то пошло не так...(RefKey is null)";
            return;
        }

        documentcheck = await Service.GetItemAsync(RefKey);

        if (documentcheck is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    private async Task DeleteDocumentCheck()
    {
        if (RefKey is null)
            return;

        await Repository.DeleteAsync(RefKey);
        NavigationManager.NavigateTo("/documentchecks");
    }
}
