@page "/documentchecks/details"
@using Microsoft.EntityFrameworkCore
@using DocCheck.Models
@inject IDbContextFactory<DocCheck.Data.ApplicationDbContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Details</PageTitle>

<h1>Details</h1>

<div>
    <h2>DocumentCheck</h2>
    <hr />
    @if (documentcheck is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">CreatedAt</dt>
            <dd class="col-sm-10">@documentcheck.CreatedAt</dd>
            <dt class="col-sm-2">UpdatedAt</dt>
            <dd class="col-sm-10">@documentcheck.UpdatedAt</dd>
            <dt class="col-sm-2">Status</dt>
            <dd class="col-sm-10">@documentcheck.Status</dd>
            <dt class="col-sm-2">Handler</dt>
            <dd class="col-sm-10">@documentcheck.Position</dd>
            <dt class="col-sm-2">UserId</dt>
            <dd class="col-sm-10">@documentcheck.UserId</dd>
            <dt class="col-sm-2">DocumentRefKey</dt>
            <dd class="col-sm-10">@documentcheck.RefKey</dd>
        </dl>
        <div>
            <a href="@($"/documentchecks/edit?id={documentcheck.Id}")">Edit</a> |
            <a href="@($"/documentchecks")">Back to List</a>
        </div>
    }
</div>

@code {
    private DocumentCheck? documentcheck;

    [SupplyParameterFromQuery]
    private Guid Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        documentcheck = await context.DocumentCheck.FirstOrDefaultAsync(m => m.Id == Id);

        if (documentcheck is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
