@page "/documentchecks/edit"
@using Microsoft.EntityFrameworkCore
@using DocCheck.Models
@inject IDbContextFactory<DocCheck.Data.ApplicationDbContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Edit</PageTitle>

<h2>Изменить</h2>

<h3>Проблемный документ</h3>
<hr />
@if (DocumentCheck is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm method="post" Model="DocumentCheck" OnValidSubmit="UpdateDocumentCheck" FormName="edit" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary role="alert"/>
                <input type="hidden" name="DocumentCheck.Id" value="@DocumentCheck.Id" />
                <div class="mb-3">
                    <label for="createdat" class="form-label">CreatedAt:</label>
                    <InputDate id="createdat" @bind-Value="DocumentCheck.CreatedAt" class="form-control" />
                    <ValidationMessage For="() => DocumentCheck.CreatedAt" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="updatedat" class="form-label">UpdatedAt:</label>
                    <InputDate id="updatedat" @bind-Value="DocumentCheck.UpdatedAt" class="form-control" />
                    <ValidationMessage For="() => DocumentCheck.UpdatedAt" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="status" class="form-label">Status:</label>
                    <InputSelect id="status" @bind-Value="DocumentCheck.Status" class="form-control">
                        <option value="">
                            Выберите статус...
                        </option>
                        @foreach (var item in Enum.GetValues<Status>())
                        {
                            <option value="@item">@(item.GetDescription())</option>
                        }
                    </InputSelect>
                    <ValidationMessage For="() => DocumentCheck.Status" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="handler" class="form-label">Handler:</label>
                    <InputSelect id="handler" @bind-Value="DocumentCheck.Position" class="form-control">
                        <option value="">
                            Выберите позицию...
                        </option>
                        @foreach (var item in Enum.GetValues<Position>())
                        {
                            <option value="@item">@(item.GetDescription())</option>
                        }
                    </InputSelect>
                    <ValidationMessage For="() => DocumentCheck.Position" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="userid" class="form-label">UserId:</label>
                    <InputText id="userid" @bind-Value="DocumentCheck.UserId" class="form-control" />
                    <ValidationMessage For="() => DocumentCheck.UserId" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="documentrefkey" class="form-label">DocumentRefKey:</label>
                    <InputText id="documentrefkey" @bind-Value="DocumentCheck.InvoiceRefKey" class="form-control" />
                    <ValidationMessage For="() => DocumentCheck.InvoiceRefKey" class="text-danger" />
                </div>
                <button type="submit" class="btn btn-primary">Сохранить</button>
            </EditForm>
        </div>
    </div>
}

<div>
    <a href="/documentchecks">Назад к списку</a>
</div>

@code {
    [SupplyParameterFromQuery]
    private Guid Id { get; set; }

    [SupplyParameterFromForm]
    private DocumentCheck? DocumentCheck { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        DocumentCheck ??= await context.DocumentCheck.FirstOrDefaultAsync(m => m.Id == Id);

        if (DocumentCheck is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    // To protect from overposting attacks, enable the specific properties you want to bind to.
    // For more information, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task UpdateDocumentCheck()
    {
        using var context = DbFactory.CreateDbContext();
        context.Attach(DocumentCheck!).State = EntityState.Modified;

        try
        {
            await context.SaveChangesAsync();
        }
        catch (DbUpdateConcurrencyException)
        {
            if (!DocumentCheckExists(DocumentCheck!.Id))
            {
                NavigationManager.NavigateTo("notfound");
            }
            else
            {
                throw;
            }
        }

        NavigationManager.NavigateTo("/documentchecks");
    }

    private bool DocumentCheckExists(Guid id)
    {
        using var context = DbFactory.CreateDbContext();
        return context.DocumentCheck.Any(e => e.Id == id);
    }
}
