@page "/documents/details"
@using Microsoft.EntityFrameworkCore
@using DocCheck.Models
@inject IDbContextFactory<DocCheck.Data.ApplicationDbContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Details</PageTitle>

<h1>Details</h1>

<div>
    <h2>Document</h2>
    <hr />
    @if (document is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">Ref_Key</dt>
            <dd class="col-sm-10">@document.Ref_Key</dd>
            <dt class="col-sm-2">Barcode</dt>
            <dd class="col-sm-10">@document.Barcode</dd>
            <dt class="col-sm-2">StatusId</dt>
            <dd class="col-sm-10">@document.StatusId</dd>
            <dt class="col-sm-2">CreatedAt</dt>
            <dd class="col-sm-10">@document.CreatedAt</dd>
            <dt class="col-sm-2">ScannedAt</dt>
            <dd class="col-sm-10">@document.ScannedAt</dd>
        </dl>
        <div>
            <a href="@($"/documents/edit?id={document.Id}")">Edit</a> |
            <a href="@($"/documents")">Back to List</a>
        </div>
    }
</div>

@code {
    private Document? document;

    [SupplyParameterFromQuery]
    private Guid Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        document = await context.Documents.FirstOrDefaultAsync(m => m.Id == Id);

        if (document is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
