@page "/documentchecks"

@using DocCheck.Common
@using DocCheck.Components.Account
@using DocCheck.Data
@using DocCheck.Models
@using DocCheck.Models.OData
@using DocCheck.OData
@using DocCheck.Services
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.QuickGrid
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage

@inject ProtectedSessionStorage ProtectedSessionStore
@inject DocCheckRepository Repository
@inject IDocCheckService Service
@inject NavigationManager NavigationManager
@inject ODataService ODataService

@attribute [Authorize]

<PageTitle>Проблемные документы</PageTitle>

<h2>Проблемные документы</h2>

@* <p>
    <a href="documentchecks/create">Create New</a>
</p> *@

<ScanBarcode OnScannedBarcode="ScannedBarcodeHandle"></ScanBarcode>

<SearchForm SearchParams="searchParams" OnSubmit="SearchDocumentCheck" />

<QuickGrid Class="table table-hover table-striped" ItemsProvider="itemsProvider" OverscanCount=32 Virtualize="true" ItemKey="(x => x.Id)"
           @ref="docCheckGrid">
    <PropertyColumn Title="Номер" Property="dc => dc.InvoiceNumber" Sortable="true" InitialSortDirection="SortDirection.Descending" />
    <PropertyColumn Title="Дата" Property="dc => dc.InvoiceDate" Sortable="true" Format="dd.MM.yyyy" InitialSortDirection="SortDirection.Descending" IsDefaultSortColumn="true" />
    <PropertyColumn Title="Статус" Property="dc => dc.Status == null ? string.Empty : dc.Status.GetDescription()" />
    <PropertyColumn Title="Позиция" Property="dc => dc.Position == null ? string.Empty : dc.Position.GetDescription()" />
    <PropertyColumn Title="Пользователь" Property="dc => dc.User == null ? string.Empty : dc.User.Name" />

    <TemplateColumn Context="documentcheck">
        <div class="row">
            <div class="col">
                <a class="btn btn-outline-primary" href="@($"documentchecks/createorupdate?RefKey={documentcheck.InvoiceRefKey}")" title="Изменить">
                    <i class="bi bi-pencil"></i>
                </a>
            </div>
            <div class="col">
                <a class="btn btn-outline-danger" href="@($"documentchecks/delete?RefKey={documentcheck.InvoiceRefKey}&ReturnUrl={NavigationManager.Uri}")" title="Удалить">
                    <i class="bi bi-trash3"></i>
                </a>
            </div>
        </div>
    </TemplateColumn>
</QuickGrid>

@if (totalItemsCount == 0)
{
    <button type="button" class="btn btn-primary" @onclick="SearchOData">
        Здесь ничего не найдено, загрузить из 1С
    </button>
}
@if (rootobject != null)
{
    if (rootobject.ODataCount == 0)
    {
        <div class="alert alert-warning">В 1С тоже ничего не найдено</div>
    }
    else if (rootobject.ODataCount > 25)
    {
        <div class="alert alert-warning">В 1С найдено слишком много результатов, детализируйте поиск</div>
    }
    else
    {
        <table class="table">
            <thead>
                <tr>
                    <th>№</th>
                    <th>Дата</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @if (rootobject.Value != null)
                {
                    foreach (var item in rootobject.Value)
                    {
                        <tr>
                            <td>
                                @item.Number
                            </td>
                            <td>
                                @item.Date
                            </td>
                            <td>
                                <div class="row">
                                    <div class="col">
                                        <a class="btn btn-warning" href="@($"documentchecks/createorupdate?RefKey={item.Ref_Key}&ReturnUrl={NavigationManager.Uri}")" title="Завести проблемный документ">
                                            <i class="bi bi-file-earmark-excel me-2"></i><span>Завести проблемный документ</span>
                                        </a>
                                    </div>
                                    <div class="col">
                                        <a class="btn btn-outline-primary" href="@($"/invoices/details?Ref_Key={item.Ref_Key}")" title="Детали">
                                            <i class="bi bi-info-lg"></i>
                                        </a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    }
}

@code {
    private SearchParams searchParams { get; set; } = new();

    private QuickGrid<DocumentCheck>? docCheckGrid;

    private GridItemsProvider<DocumentCheck>? itemsProvider;
    private int totalItemsCount;

    private Rootobject<Document_СчетФактураВыданный>? rootobject;

    protected override void OnInitialized()
    {
        itemsProvider = ItemsProviderDelegate;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await LoadSearchParams();
            StateHasChanged();
        }
    }

    private async Task LoadSearchParams()
    {
        var result = await ProtectedSessionStore.GetAsync<SearchParams>(nameof(SearchParams));

        if (result.Success && result.Value != null)
            searchParams = result.Value;
    }

    private async ValueTask<GridItemsProviderResult<DocumentCheck>> ItemsProviderDelegate(GridItemsProviderRequest<DocumentCheck> request)
    {
        BuildSearchParams(request);

        totalItemsCount = await Repository.GetCountAsync(searchParams);
        var items = request.Count is null ? [] : await Service.GetItemsAsync(searchParams);

        var result = GridItemsProviderResult.From(items, totalItemsCount);

        return result;
    }

    private void BuildSearchParams(GridItemsProviderRequest<DocumentCheck> request)
    {
        var sortedProperty = request.GetSortByProperties().FirstOrDefault();
        searchParams.OrderBy = sortedProperty.PropertyName;
        searchParams.IsOrderAsc = sortedProperty.Direction == SortDirection.Ascending;
        searchParams.Skip = request.StartIndex;
        searchParams.Take = request.Count;
    }

    private async Task SearchDocumentCheck(SearchParams searchParams)
    {
        this.searchParams = searchParams;
        rootobject = null;

        if (docCheckGrid is not null)
            await docCheckGrid.RefreshDataAsync();

        await ProtectedSessionStore.SetAsync(nameof(SearchParams), searchParams);
    }

    private void ScannedBarcodeHandle(string barcode)
    {
        var refKey = GuidConvert.FromNumStr(barcode);

        NavigationManager?.NavigateTo($"documentchecks/createorupdate?RefKey={refKey}");
    }

    private async Task SearchOData()
    {
        ODataParams oDataParams = Document_СчетФактураВыданный.ODataParams;
        rootobject = await ODataService.GetDataAsync<Document_СчетФактураВыданный>(searchParams, oDataParams);
    }
}
