@using DocCheck.Services
@using Microsoft.AspNetCore.Authorization
@using Microsoft.EntityFrameworkCore
@using DocCheck.Models
@using Models.OData

@if (SaleDoc != null)
{
    <div class="card">
        <div class="card-body">
            <div class="card-title h5">
                @*  <div class="row">
                    <div class="col"><div class="text-center">@Document_РеализацияТоваровУслуг.Name</div></div>
                    <div class="col"><span>№ </span><span> @SaleDoc.Number</span></div>
                    <div class="col"><span>от </span><span> @SaleDoc.Date</span></div>
                </div> *@
                <div>
                    <span> @Document_РеализацияТоваровУслуг.Name </span>
                    <span> № </span><span> @SaleDoc.Number </span>
                    <span> от </span><span> @SaleDoc.Date </span>
                </div>
                <hr />                
            </div>
            <div class="card-subtitle h6">
                <div class="row">
                    <div class="col"><small>Контрагент: </small><span> @SaleDoc.Контрагент?.Description</span></div>
                    <div class="col"><small>Менеджер: </small><span> @SaleDoc.Менеджер?.Description</span></div>
                    <div class="col"><small>Автор: </small><span> @SaleDoc.Автор?.Description</span></div>
                </div>
                <hr />
            </div>

            <div class="row">
                <div class="col h5">Типичные проблемы:</div>
                @foreach (var key in TypicalErrors.Keys)
                {
                    <div class="col h5">
                        <div class="form-check mt-2">
                            <InputCheckbox class="form-check-input" @bind-Value="TypicalErrors[key]" id="@($"typicalError_{key}")"
                                           @oninput="@((args) => UpdateTypicalErrors(args, key))" />
                            <label class="form-check-label" for="@($"typicalError_{key}")">@(Enum.Parse<TypicalError>(key).GetDescription())</label>
                        </div>
                    </div>
                }
            </div>
            @if (Errors?.FirstOrDefault(e => e.TypicalError == TypicalError.Other) != null)
            {
                <div class="row mt-2">
                    <div class="col-2 h5">Прочее: </div>
                    <div class="col-10">
                        <input type="text" class="form-control" @onchange="UpdateOtherError" value="@(Errors?.FirstOrDefault(e => e.TypicalError == TypicalError.Other)?.Message)" />
                    </div>
                </div>
            }
            <hr />

            @if (SaleDoc.Товары is null || SaleDoc.Товары.Length == 0)
            {
                <div class="alert alert-warning mt-2">Товары не найдены или табличная часть пуста</div>
            }
            else
            {
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Номенклатура</th>
                            <th>Количество</th>
                            <th>Факт Кол-во</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in SaleDoc.Товары)
                        {
                            var errorValue = Errors?.FirstOrDefault(e => e.RefKey == item.Ref_Key && e.LineNumber == item.LineNumber)?.Quantity;
                            string itemWarning = errorValue is null ? string.Empty : "table-warning";

                            <tr class="@itemWarning">
                                <td>@item.LineNumber</td>
                                <td>@item.Номенклатура?.Description</td>
                                <td>@item.Количество</td>
                                <td>
                                    <div class="row">
                                        <div class="col">
                                            <input type="text" value="@errorValue" @onchange="@((args) => CreateOrUpdateError(args, item))" />
                                        </div>
                                        <div class="col">
                                            @if (errorValue is not null)
                                            {
                                                <button type="button" class="btn" title="Очистить" @onclick="@(() => DeleteError(item))">
                                                    <i class="bi bi-x-lg"></i>
                                                </button>
                                            }
                                        </div>
                                    </div>

                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
        </div>
    </div>
}

@code {
    [Parameter]
    public Document_РеализацияТоваровУслуг? SaleDoc { get; set; }

    [Parameter]
    public List<Error>? Errors { get; set; }

    [Parameter]
    public Guid DocCheckId { get; set; }

    private Dictionary<string, bool> TypicalErrors = Enum.GetValues<TypicalError>()
        .ToDictionary(e => e.ToString(), e => false);

    private bool isOtherError;

    protected override void OnInitialized()
    {
        LoadTypicalErrors();
    }

    private void CreateOrUpdateError(ChangeEventArgs args, Document_РеализацияТоваровУслуг_Товары product)
    {
        if (!double.TryParse(args.Value?.ToString(), out double quantity))
            return;

        Errors ??= [];

        var error = Errors.FirstOrDefault(e => e.RefKey == product.Ref_Key && e.LineNumber == product.LineNumber);

        if (error is null)
        {
            error = new Error() { DocumentCheckId = DocCheckId, RefKey = product.Ref_Key, LineNumber = product.LineNumber };

            Errors.Add(error);
        }

        error.Quantity = quantity;
    }

    private void DeleteError(Document_РеализацияТоваровУслуг_Товары product)
    {
        var error = Errors?.FirstOrDefault(e => e.RefKey == product.Ref_Key && e.LineNumber == product.LineNumber);

        if (error == null)
            return;

        Errors?.Remove(error);
    }

    private void LoadTypicalErrors()
    {
        if (Errors is null)
            return;

        foreach (var item in Errors.Where(e => e.LineNumber == 0).ToArray())
            TypicalErrors[item.TypicalError.ToString()] = true;
    }

    private void UpdateTypicalErrors(ChangeEventArgs args, string key)
    {
        if (args.Value is null)
            return;

        Errors ??= [];

        TypicalErrors[key] = (bool)args.Value;

        var typicalError = Enum.Parse<TypicalError>(key);

        var error = Errors.FirstOrDefault(e => e.TypicalError == typicalError);

        if (error is null && (bool)args.Value)
        {
            error = new Error() { DocumentCheckId = DocCheckId, RefKey = SaleDoc?.Ref_Key, TypicalError = typicalError };

            Errors.Add(error);
        }
        if (error is not null && !(bool)args.Value)
        {
            Errors.Remove(error);
        }

    }
    private void UpdateOtherError(ChangeEventArgs args)
    {
        if (Errors is null || args.Value is null)
            return;

        var message = args.Value.ToString();

        var error = Errors.FirstOrDefault(e => e.TypicalError == TypicalError.Other);

        if (error is not null)
            error.Message = message;
    }
}